annotated-types
anyio
astroid
blinker
build
cachetools
certifi
charset-normalizer
click
dill
distro
Flask
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
googleapis-common-protos
greenlet
grpcio
grpcio-status
h11
httpcore
httplib2
httpx
idna
iqoptionapi @ git+https://github.com/iqoptionapi/iqoptionapi.git@8a903cc094a74af1ed935a56a2d6b5a9ed3319d7
isort
itsdangerous
Jinja2
jiter
llvmlite
MarkupSafe
mccabe
numba
numpy
openai
packaging
pandas
pandas-ta
platformdirs
playwright
proto-plus
protobuf
pyasn1
pyasn1_modules
pydantic
pydantic_core
pyee
pylint
pyparsing
pyproject_hooks
python-dateutil
pytz
requests
rsa
six
sniffio
ta
TA-Lib
tomlkit
tqdm
typing-inspection
typing_extensions
tzdata
uritemplate
urllib3
websocket-client
Werkzeug
